<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div  class="modal fade" id="addCartelera" role="dialog" data-backdrop="static" data-keyboard="false" >
        <div style="width: 80%" class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar nuevo Cartelera</h4>
                </div>
                <div class="modal-body" style="height: 600px">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="nameCartelera">Nombre de la cartelera:</label>
                                <input ng-model="data.Name" type="text" class="form-control" id="nameCartelera">
                            </div>
                            <div class="col-md-4">
                                <label for="ubicacionCartelera">Ubicación:</label>
                                <select  class="form-control" style="width: 178px;" ng-model="data.Country" ng-options="country.name for country in countries track by country.id">
                                    <option value="">País</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label  for="fechaCartelera">Inicio: </label>
                                <datepicker date-format="MM/d/y">
                                    <input style="width: 120px"  class="form-control" ng-model="data.Begin" type="text" readonly/>
                                </datepicker>
                            </div>
                            <div class="col-md-2">
                                <label  for="fechaCartelera">Finalización :</label>
                                <datepicker date-format="MM/d/y">
                                    <input style="width: 120px"  class="form-control" ng-model="data.Final" type="text" readonly/>
                                </datepicker>
                            </div>
                            <div class="col-md-6">
                                <label  for="fechaCartelera">Descripción :</label>
                                <textarea style="resize: none" rows="5" ng-model="data.Description" type="text" class="form-control" id="description"></textarea>
                            </div>

                            <div class="col-md-6">
                                <div style="margin-top: 60px; margin-right: 60px;">
                                    <button style="float: right; background: #59b748" ng-click="addCartelera()" type="button" class="btn btn-default">Agregar</button>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="labelCategoria" >Categorias:</label>
                                <div style="margin-bottom: 10px;width: 30%;float: left" class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
                                    <input ng-model="buscarCat" type="text" class="form-control" placeholder="Buscar" aria-describedby="basic-addon1">
                                </div>

                                <button style="float: right"  data-toggle="modal" data-target="#addCategoria" ng-click="" class="sAddCategoria"><span class="glyphicon glyphicon-plus-sign"></span></button>
                            </div>
                        </div>
                        <div STYLE="overflow: scroll;height: 250px" class="row">
                            <div ng-repeat="x in categoriasIncluidas | filter: buscarCat">
                                <button ng-click="changeCurrentCategory(x.localID)" class="accordion">
                                    {{x.name}}
                                </button>
                                <div   ng-if="currentCategory == x.localID">
                                    <button data-toggle="modal" data-target="#addBanda"  ng-click="" class="sAddBanda"><span class="glyphicon glyphicon-plus"></span></button>
                                    <div class="bandname" ng-repeat="band in x.bands">
                                        <button ng-click="borrar(band)" style="float: left"><span class="glyphicon glyphicon-remove"></span></button>
                                        <h3>{{band.name}}</h3>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


<!--Form para buscar banda-->
<div  class="container" >
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div  class="modal fade" id="addBanda" role="dialog">
        <div style="width: 30%" class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Buscar banda</h4>
                    <input ng-model="inputBanda" type="text" class="form-control" id="inputBanda">
                    <div class="addBandasContenedor ">
                        <button ng-repeat="x in bandas | filter: inputBanda" ng-click="addBanda(x.name,x.idBand)" data-dismiss="modal" class="buttonBandas" type="button">{{x.name}}</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!--Form para buscar categoria-->

<div  class="container" >
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div  class="modal fade" id="addCategoria" role="dialog">
        <div style="width: 30%" class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Buscar Categoria</h4>
                    <input ng-model="inputCategoria" type="text" class="form-control" id="inputCategoria">
                    <div class="addBandasContenedor ">
                        <button ng-repeat="x in listaCategorias | filter: inputCategoria" ng-click="addCategoria(x.name,x.localID,x.id)" data-dismiss="modal" class="buttonBandas" type="button">{{x.name}}</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
