<div  class="container" >
    <!-- Trigger the modal with a button -->
       <!-- Modal -->
    <div class="modal fade" id="addCartelera" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar nuevo Cartelera</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6" style="background-color:#ffffff;">
                                <label for="nameArtist">Nombre:</label>
                                <input ng-model="inputName" type="text" class="form-control" id="nameArtist">
                                <label for="nameMiembros">Lista de miembros:</label>
                                <textarea rows="5" ng-model="inputMiembros" type="text" class="form-control" id="nameMiembros"></textarea>
                                <label for="nameCanciones">Canciones principales:</label>
                                <textarea rows="5" ng-model="inputCanciones" type="text" class="form-control" id="nameCanciones"></textarea>

                            </div>
                            <div class="col-sm-6" style="background-color:#ffffff;">
                                <label for="nameGeneros">Géneros musicales:</label>
                                <textarea rows="3" ng-model="inputGeneros" type="text" class="form-control" id="nameGeneros"></textarea>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="postArtista()" type="button" class="btn btn-default" data-dismiss="modal">Agregar</button>
                </div>
            </div>

        </div>
    </div>

</div>