
<div id="myModal" class="zmodal" ng-show="visibleBandModal">
    <div class="zmodal-content">

        <div class="zmodal-header blue">
            <span ng-click="closeBandModal()" class="close">&times;</span>
            <div style="float: left; margin-top: 3px; display: inline-block; font-size: 22px; margin-right: 15px;">{{selectedBand.name}}</div>
            <i ng-repeat="star in completeStars" class="fa fa-star fa-2x" style="color: yellow"></i><i ng-repeat="star in blankStars" class="fa fa-star-o fa-2x" style="color: yellow"></i>
        </div>
        <div class="zmodal-body">
            <div class="modal-band-image" ><image class="modal-band-image-inside" ng-if="selectedBand.image != ''" ng-src={{selectedBand.image}}></image></div>
            <!--<div class="modal-band-image" ><image style="width: 250px; height: 250px" ng-show="selectedBand.image" ng-src={{selectedBand.image}}></image></div>-->
            <div style="margin-left: 15px" class="modal-info-box">
                <div style="padding: 5px" class="box-cartelera-info-icon">
                    <i class="fa fa-line-chart fa-2x"></i>
                    <div class="modal-info-text">Seguidores: {{selectedBand.followers}}</div>
                </div>
                <div style="padding: 5px" class="box-cartelera-info-icon">
                    <i class="fa fa-thumbs-up fa-2x"></i>
                    <div class="modal-info-text">Popularidad: {{selectedBand.popularity}}</div>
                </div>
                <div style="padding: 5px" class="box-cartelera-info-icon">
                    <i class="fa fa-users fa-2x"></i>
                    <div class="modal-info-text">Miembros:</div>

                </div>
                <div class="modal-members-holder">
                    <div class="modal-info-text-member" ng-repeat="member in selectedBand.members">{{member.name}}</div>
                </div>
            </div>

            <div style="margin-left: 15px" class="modal-info-box">
                <div style="padding: 5px" class="box-cartelera-info-icon">
                    <i class="fa fa-music fa-2x"></i>
                    <div class="modal-info-text">Géneros Musicales:</div>

                </div>
                <div class="modal-members-holder">
                    <div class="modal-info-text-member" ng-repeat="gender in selectedBand.genders">{{gender.name}}</div>
                </div>
                <div style="margin-left: 5px" class="music-player">
                    <i style="float: left" class="fa fa-volume-up fa-2x"></i>
                    <div style="float: left" class="modal-info-text">Música</div>
                    <br>
                    <br>
                    <div class="music-player-controlers-box">
                        <div class="music-player-controler" ng-click="prevSong()"><i class="fa fa-step-backward fa-1x"></i></div>
                        <div class="music-player-controler" ng-if="!playingSong" ng-click="playSong()"><i class="fa fa-play fa-1x"></i></div>
                        <div class="music-player-controler" ng-if="playingSong" ng-click="pauseSong()"><i class="fa fa-pause fa-1x"></i></div>
                        <div class="music-player-controler" ng-click="nextSong()"><i class="fa fa-step-forward fa-1x"></i></div>
                    </div>
                    <select class="pInput pIBlue" style="width: 300px; margin-top: 5px;" ng-model="data.SelectedSong" ng-options="song.name for song in songs track by song.name">
                        <option value="">Canción</option>
                    </select>

                </div>
            </div>

            <div class="comments-box-holder">
                <div class="comment-box" ng-repeat="comment in selectedBand.comments">
                    <div class="comment-box-title">{{comment.title}} |
                        <i ng-repeat="i in getNumber(comment.Score)" class="fa fa-star fa-1x" style="color: black"></i><i ng-repeat="i in getNumber(5-comment.Score)" class="fa fa-star-o fa-1x" style="color: black"></i> |
                        {{comment.name}}
                    </div>
                    <div class="comment-box-data">
                        {{comment.comment}}
                    </div>
                </div>
            </div>
            <div class="newcomment-box-holder">
                <h3 style="text-align: left">Agregar un comentario:</h3>
                <div class="newcomment-box-inner">
                    <div class="newcomment-box-rating-title" style="text-align: left">
                        Calificación:<!--<i ng-if="currentComment.rating==0" ng-click="updateCommentRating(i+1)" ng-repeat="i in getNumber(5)" class="fa fa-star-o fa-1x" style="color: black; cursor: pointer;"></i>-->
                        <i ng-click="selectCommentRating(holderA+1)" ng-mouseenter="updateCommentRating(holderA+1)" ng-mouseleave="restoreCommentRating()" ng-repeat="holderA in getNumber(currentComment.rating)" class="fa fa-star fa-1x stargrow" style="color: black; cursor: pointer;"></i><i ng-click="selectCommentRating(currentComment.rating+holderB+1)" ng-mouseover="updateCommentRating(currentComment.rating+holderB+1)" ng-mouseleave="restoreCommentRating()" ng-repeat="holderB in getNumber(5-currentComment.rating)" class="fa fa-star-o fa-1x stargrow" style="color: black; cursor: pointer;"></i>
                    </div>
                    <div class="newcomment-box-rating-title" style="text-align: left">
                        Título:<!--<i ng-if="currentComment.rating==0" ng-click="updateCommentRating(i+1)" ng-repeat="i in getNumber(5)" class="fa fa-star-o fa-1x" style="color: black; cursor: pointer;"></i>-->
                        <input ng-model="currentComment.title">
                    </div>
                    <!--<textarea ng-model="currentComment.data"></textarea>-->
                    <form>
                        <textarea  ng-model="currentComment.data" maxlength="300" onblur="textCounter(this.form.counter_txt,300,this.form.message);" onkeyup="textCounter(this.form.counter_txt,300,this.form.message);" style="width: 98%; height: 90px; resize:none;" name="message" rows="1" cols="15" ></textarea>
                        <input style="float: left" onblur="textCounter(this.form.counter_txt,300,this.form.message);" disabled  onfocus="this.blur();" tabindex="999" maxlength="3" size="3" value="300" name="counter_txt">
                    </form>
                    <a ng-click="sendNewComment()" style="float: right" class="box-festival-button">Enviar</a>
                </div>
            </div>
        </div>


        <div class="zmodal-footer blue">
            <a>-</a>
        </div>

    </div>
</div>