<!DOCTYPE html>
<html lang="en" ng-app="mainModule">
<head>
    <meta charset="UTF-8">
    <title>MyConcert by X-Fest</title>

    <script src="../assets/js/libs/angular.min.js"></script>
    <script src="../assets/js/festivales_controller.js"></script>
    <script src="../assets/js/libs/loading-bar.js"></script>
    <script src="../assets/js/libs/slides.js"></script>

    <script src="../assets/js/libs/angular-notify.js"></script>
    <script src="../assets/js/libs/angular-cookies.js"></script>
    <script src="../assets/js/libs/angular-ui-notification.min.js"></script>
    <link rel="stylesheet" href="../assets/styles/angular-ui-notification.min.css" />
    <script src="../assets/js/angular-session.js"></script>

    <link href='../assets/styles/loading-bar.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/styles/basicStyles.css" />
    <link rel="stylesheet" href="../assets/styles/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/styles/modalStyle.css" />
    <script>
        var counter = 0;
        function textCounter( field, maxlimit, text) {
            counter = maxlimit - text.value.length;
            field.value = counter;
        }
    </script>
</head>
<body ng-controller="festivalesController" class="bodyall" >
    <div class="header">
        <a href="../index.html" style="float: left"><img src="../assets/imgs/logo.png" style="width: 100px; height: 100px"/></a>
        <div class="header_center"><h1>MyConcert</h1></div>
        <div ng-if="userType == 2" class="header_right-profile" ng-include="'nav_profile.html'"></div>
        <div ng-if="userType == 1" class="header_right-profile" style="height: 70px;"><div style="margin: auto">Dep. Promoción</div>
            <a ng-click="xExitSession()" class="navigation-button" style="margin: auto; margin-top: 5px;">Salir</a>
        </div>
    </div>

    <div class="bodycont">

        <div ng-include="'nav_menu.html'"></div>
        <div ng-include="'festival_modal.html'"></div>
        <div style="width:1000px" ng-include="'band_modal.html'"></div>


        <div class="body-carteleras" >
            <!--<div class="box-cartelera-monthTitle">{{festival.name}}</div>-->
            <div class="box-cartelera" ng-repeat="festival in festivales" style="float:left;">
                <div class="box-cartelera-title">{{festival.name}}</div>
                <div class="box-cartelera-image" ><image ng-src={{festival.image}}></image></div>
                <div class="box-cartelera-info">
                    <div class="box-cartelera-info-icon">
                        <i class="fa fa-globe fa-2x"></i>
                        <div class="box-cartelera-info-text">{{festival.location}}</div>
                    </div>
                    <div class="box-cartelera-info-icon">
                        <i class="fa fa-calendar fa-2x"></i>
                        <div class="box-cartelera-info-text">{{festival.date}}</div>
                    </div>
                    <div class="box-cartelera-info-icon">
                        <i style="margin-left: 4px" class="fa fa-map-marker fa-2x"></i>
                        <div class="box-cartelera-info-text">{{festival.place}}</div>
                    </div>
                </div>
                <a ng-click="showFestivalModal(festival.localIndex)" class="box-festival-button">Ver más</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <a class="socialicon-fb" href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
            <a class="socialicon-tw" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a class="socialicon-yt" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
            <a class="socialicon-sp" href="#"><i class="fa fa-spotify fa-2x"></i></a><br>
            <a style="color: white"> 2017 | MyConcert by X-Fest | Todos los derechos reservados.</a>
        </div>
    </footer>

</body>
</html>