<!DOCTYPE html>
<html lang="en" ng-app="mainModule">
<head>
    <meta charset="UTF-8">
    <title>MyConcert by X-Fest</title>

    <script src="../assets/js/libs/angular.min.js"></script>
    <script src="../assets/js/libs/angular-spotify.js"></script>
    <script src="../assets/js/interface_profile.js"></script>
    <script src="../assets/js/libs/loading-bar.js"></script>

    <script src="../assets/js/libs/angular-notify.js"></script>
    <script src="../assets/js/libs/angular-cookies.js"></script>
    <script src="../assets/js/libs/angular-ui-notification.min.js"></script>
    <link rel="stylesheet" href="../assets/styles/angular-ui-notification.min.css" />
    <script src="../assets/js/angular-session.js"></script>

    <link href='../assets/styles/loading-bar.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/styles/basicStyles.css" />
    <link rel="stylesheet" href="../assets/styles/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/styles/angular-notify-texture.min.css" />

    <script>
        var counter = 0;
        function textCounter( field, maxlimit, text) {
            counter = maxlimit - text.value.length;
            field.value = counter;
        }
    </script>
</head>
<body class="bodyall" ng-controller="mainController">
    <div class="header">
        <a href="../index.html" style="float: left"><img src="../assets/imgs/logo.png" style="width: 100px; height: 100px"/></a>
        <div class="header_center"><h1>MyConcert</h1></div>
        <div class="header_right-profile" ng-include="'nav_profile.html'"></div>
    </div>

    <div class="bodyreg_cont">
        <div ng-include="'nav_menu.html'"></div>
        <div class="categories-box-left">
            <div class="box-cartelera" style="height: 445px">
                <div class="box-cartelera-title">Foto de Perfil</div>
                <div class="box-cartelera-image" ><image ng-src={{cartelera.image}}></image></div>
                <div class="box-cartelera-info" style="margin-right: auto; margin-left: auto;">
                    <div ng-if="!loading" class="changeProfilePicButton" ng-click="">
                        <a>Adjuntar Foto</a><i style="float: right; margin-right: 2px; margin-top: 2px;" class="fa fa-paperclip fa-1x"></i>
                    </div>
                    <div class="divisor"></div>
                    <div ng-if="!loading" class="changeProfilePicButton" ng-click="changeEditStatus()">
                        <a>Editar Perfil</a><i style="float: right; margin-right: 2px; margin-top: 2px;" class="fa fa-pencil fa-1x"></i>
                    </div>
                    <div ng-if="!loading" class="changeProfilePicButton" ng-click="deactivateUser()">
                        <a>Desactivar Cuenta</a><i style="float: right; margin-right: 2px; margin-top: 2px;" class="fa fa-close fa-1x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="categories-box-right">
            <div class="bodyreg_column" style="margin-top: 15px;">
                <div class="user_info_holder">
                    <div class="user_info_holder_name"> <a class="txt_c">Nombre:</a> </div>
                    <div class="user_info_holder_input"> <input ng-disabled="!editingProfile" class="pInput pIBlue" type="text" ng-model="data.Name"> </div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Apellido:</a></div>
                    <div class="user_info_holder_input"><input ng-disabled="!editingProfile" class="pInput pIBlue" type="text"  ng-model="data.LastName"></div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Teléfono:</a> </div>
                    <div class="user_info_holder_input"><input ng-disabled="!editingProfile" class="pInput pIBlue" type="text"  ng-model="data.Phone"></div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">País:</a></div>
                    <div class="user_info_holder_input">
                        <select ng-disabled="data.ProfileType.id == 1 || !editingProfile" class="pInput pIBlue" style="width: 178px; float:left;" ng-model="data.Country" ng-options="country.name for country in countries track by country.id">
                            <option value="">País</option>
                        </select>
                    </div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Fecha de Nacimiento</a> </div>
                    <div class="user_info_holder_input">
                        <datepicker date-format="MM/d/y">
                            <input class="pInput pIRed" ng-model="data.BirthDate" type="text" disabled/>
                        </datepicker>
                    </div>
                </div>
            </div>

            <div class="bodyreg_column" style="margin-top: 15px;">
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Universidad:</a></div>
                    <div class="user_info_holder_input">
                        <select ng-disabled="!editingProfile" class="pInput pIBlue" ng-model="data.University" ng-options="university.name for university in universities track by university.id">
                            <option value="">Universidad</option>
                        </select>
                    </div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Tipo Usuario:</a></div>
                    <div class="user_info_holder_input"><input class="pInput pIRed" type="text"  ng-model="data.UserType" disabled></div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Correo Electrónico:</a></div>
                    <div class="user_info_holder_input"> <input ng-model="data.Email"  class="pInput pIRed" type="text" disabled> </div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Contraseña:</a></div>
                    <div class="user_info_holder_input"> <input ng-disabled="!editingProfile" ng-model="data.Password" class="pInput pIBlue" type="password"> </div>
                </div>
                <div class="user_info_holder">
                    <div class="user_info_holder_name"><a class="txt_c">Ubicación:</a></div>
                    <div class="user_info_holder_input"> <input ng-disabled="!editingProfile" ng-model="data.Place" class="pInput pIBlue" type="text"> </div>
                </div>
            </div>
            <div class="bodyreg_column" style="margin-top: 15px;">
                <div class="user_info_holder2">
                    <div class="user_info_holder_name"><a class="txt_c">Géneros Musicales Favoritos:</a></div>
                    <div class="user_info_holder_input">
                        <select ng-disabled="!editingProfile" class="pInput pIBlue" style="float:left;" ng-model="data.Genre" ng-options="genre.name for genre in genres track by genre.id">
                            <option value="">Género</option>
                        </select>
                        <div style="margin-top: 4px; float: left; color: #0E8012; margin-left: 5px; cursor:pointer;" ng-click="addGenre()">
                            <i class="fa fa-plus-circle fa-2x" style="display: inline-flex;"></i>
                        </div>
                        <div style="margin-top: 4px; float: left; color: #0E8012; margin-left: 5px; cursor:pointer;" ng-click="removeGenre()">
                            <i class="fa fa-minus-circle fa-2x" style="display: inline-flex;"></i>
                        </div>
                        <input ng-disabled="!editingProfile" ng-model="data.GenresList" class="pInput pIBlue" type="text" style="margin-top: 5px;" aria-readonly="true" readonly>
                    </div>
                </div>
                <div class="user_info_holder3">
                    <div class="user_info_holder_name"><a class="txt_c">Descripción Personal:</a></div>
                    <div class="user_info_holder_input">
                        <form>
                            <textarea ng-disabled="!editingProfile" ng-model="data.Description" class="pInput pIBlue" maxlength="300" onblur="textCounter(this.form.counter_txt,300,this.form.message);" onkeyup="textCounter(this.form.counter_txt,300,this.form.message);" style="width: 100%; height: 90px; resize:none;" name="message" rows="1" cols="15" ></textarea>
                            <input onblur="textCounter(this.form.counter_txt,300,this.form.message);" disabled  onfocus="this.blur();" tabindex="999" maxlength="3" size="3" value="300" name="counter_txt">
                        </form>
                    </div>
                </div>
                <div class="user_info_holder">
                    <button ng-disabled="loading" type="button" style="width: 120px" class="register_button" ng-click="sendRegisterForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <a class="socialicon-fb" href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
            <a class="socialicon-tw" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a class="socialicon-yt" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
            <a class="socialicon-sp" href="#"><i class="fa fa-spotify fa-2x"></i></a><br>
            <a style="color: white"> 2017 | MyConcert by X-Fest | Todos los derechos reservados.</a>
        </div>
    </footer>

</body>
</html>