<!DOCTYPE html>
<html lang="en" ng-app="mainModule">
<head>
    <meta charset="UTF-8">
    <title>MyConcert by X-Fest</title>

    <script src="../assets/js/libs/angular.min.js"></script>
    <script src="../assets/js/interface_register.js"></script>
    <script src="../assets/js/libs/loading-bar.js"></script>
    <script src="../assets/js/libs/angular-datepicker.js"></script>
    <script src="../assets/js/upload/angular-file-upload.min.js"></script>
    <script src="../assets/js/libs/angular-ui-notification.min.js"></script>
    <script src="../assets/js/jquery/jquery-1.11.1.min.js"></script>


    <script src="../assets/js/libs/angular-notify.js"></script>
    <script src="../assets/js/libs/angular-cookies.js"></script>
    <script src="../assets/js/libs/angular-ui-notification.min.js"></script>
    <link rel="stylesheet" href="../assets/styles/angular-ui-notification.min.css" />
    <script src="../assets/js/angular-session.js"></script>

    <script>
        var counter = 0;
        function textCounter( field, maxlimit, text) {
            counter = maxlimit - text.value.length;
            field.value = counter;
        }
    </script>

    <link href='../assets/styles/loading-bar.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/styles/jquery-ui.css" />
    <link rel="stylesheet" href="../assets/styles/basicStyles.css" />
    <link rel="stylesheet" href="../assets/styles/angular-datepicker.css" />
    <link rel="stylesheet" href="../assets/styles/font-awesome.min.css" />


</head>
<body class="bodyall" ng-controller="mainController">
    <div class="header">
        <a href="../index.html" style="float: left"><img src="../assets/imgs/logo.png" style="width: 100px; height: 100px"/></a>
        <div class="header_center"><h1>MyConcert</h1></div>

    </div>

    <div class="bodyreg_cont">

        <div class="bodyreg_column">
            <div class="profile_image_holder">
                <div class="profile_image_text"> <a class="txt_a">Foto de Perfil</a></div>
                <div class="profile_image" ><image ng-src={{festival.image}}></image></div>
                <div class="profile_image_button" >
                    <div class="hvr_profile_image_button" style="margin-right: auto; margin-left: auto;">
                        <a ng-click="openUploadWindow()" class="txt_b">Adjuntar Foto</a><i class="fa fa-paperclip fa-1x"></i>
                    </div>
                    <div style="margin-left: -25px; margin-right: auto; margin-top: 15px; width: 200px">
                        <a class="text_b" style="float:left; color: white;">Los campos marcados con </a>
                        <a style="color: red; float: left; margin-left: 4px">*</a>
                        <a class="text_b" style="float:left; color: white;">son obligatorios.</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="bodyreg_column">
            <div class="user_info_holder">
                <div class="user_info_holder_name"> <a class="txt_c">Nombre:</a><a style="color: red">*</a> </div>
                <div class="user_info_holder_input"> <input class="pInput pIBlue" type="text" ng-model="data.Name"> </div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Apellido:</a><a style="color: red">*</a> </div>
                <div class="user_info_holder_input"><input class="pInput pIBlue" type="text"  ng-model="data.LastName"></div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Teléfono:</a><a style="color: red">*</a> </div>
                <div class="user_info_holder_input"><input ng-disabled="data.ProfileType.id == 1" class="pInput pIBlue" type="text"  ng-model="data.Phone"></div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">País:</a><a style="color: red">*</a></div>
                <div class="user_info_holder_input">
                    <select ng-disabled="data.ProfileType.id == 1" class="pInput pIBlue" style="width: 178px; float:left;" ng-model="data.Country" ng-options="country.name for country in countries track by country.id">
                        <option value="">País</option>
                    </select>
                </select >
                </div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Fecha de Nacimiento</a><a style="color: red">*</a> </div>
                <div class="user_info_holder_input">
                    <datepicker date-format="MM/d/y">
                        <input ng-disabled="data.ProfileType.id == 1" class="pInput pIBlue" ng-model="data.BirthDate" type="text" readonly/>
                    </datepicker>
                </div>
            </div>
        </div>

        <div class="bodyreg_column">
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Universidad:</a></div>
                <div class="user_info_holder_input">
                    <select ng-disabled="data.ProfileType.id == 1" class="pInput pIBlue" ng-model="data.University" ng-options="university.name for university in universities track by university.id">
                        <option value="">Universidad</option>
                    </select>
                </div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Tipo Usuario:</a><a style="color: red">*</a></div>
                <div class="user_info_holder_input">
                    <select class="pInput pIBlue" ng-model="data.ProfileType" ng-options="profile.name for profile in profiles track by profile.id">
                        <option value="">Perfil</option>
                    </select>
                </div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Correo Electrónico:</a><a style="color: red">*</a></div>
                <div class="user_info_holder_input"> <input ng-model="data.Email"  class="pInput pIBlue" type="text"> </div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Contraseña:</a><a style="color: red">*</a></div>
                <div class="user_info_holder_input"> <input ng-model="data.Password" class="pInput pIBlue" type="password"> </div>
            </div>
            <div class="user_info_holder">
                <div class="user_info_holder_name"><a class="txt_c">Ubicación:</a></div>
                <div class="user_info_holder_input"> <input ng-disabled="data.ProfileType.id == 1" ng-model="data.Place" class="pInput pIBlue" type="text"> </div>
            </div>
        </div>
        <div class="bodyreg_column">
            <div class="user_info_holder2">
                <div class="user_info_holder_name"><a class="txt_c">Géneros Musicales Favoritos:</a><a style="color: red">*</a></div>
                <div class="user_info_holder_input">
                        <select ng-disabled="data.ProfileType.id == 1" class="pInput pIBlue" style="width: 178px; float:left;" ng-model="data.Genre" ng-options="genre.name for genre in genres track by genre.id">
                            <option value="">Género</option>
                        </select>
                        <div style="margin-top: 4px; float: left; color: #0E8012; margin-left: 5px; cursor:pointer;" ng-click="addGenre()">
                            <i class="fa fa-plus-circle fa-2x" style="display: inline-flex;"></i>
                        </div>
                        <div style="margin-top: 4px; float: left; color: #0E8012; margin-left: 5px; cursor:pointer;" ng-click="removeGenre()">
                            <i class="fa fa-minus-circle fa-2x" style="display: inline-flex;"></i>
                        </div>
                        <input ng-disabled="data.ProfileType.id == 1" ng-model="data.GenresList" class="pInput pIBlue" type="text" style="width: 200px; margin-top: 5px;" aria-readonly="true" readonly>
                </div>
            </div>
            <div class="user_info_holder3">
                <div class="user_info_holder_name"><a class="txt_c">Descripción Personal:</a><a style="color: red">*</a></div>
                <div class="user_info_holder_input">
                    <form>
                        <textarea ng-disabled="data.ProfileType.id == 1" ng-model="data.Description" class="pInput pIBlue" maxlength="300" onblur="textCounter(this.form.counter_txt,300,this.form.message);" onkeyup="textCounter(this.form.counter_txt,300,this.form.message);" style="width: 100%; height: 90px; resize:none;" name="message" rows="1" cols="15" ></textarea>
                        <input onblur="textCounter(this.form.counter_txt,300,this.form.message);" disabled  onfocus="this.blur();" tabindex="999" maxlength="3" size="3" value="300" name="counter_txt">
                    </form>
                </div>
            </div>
            <div class="user_info_holder">
                <button type="button" class="register_button" ng-click="sendRegisterForm()">Registarse</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <a class="socialicon-fb" href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
            <a class="socialicon-tw" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a class="socialicon-yt" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
            <a class="socialicon-sp" href="#"><i class="fa fa-spotify fa-2x"></i></a><br>
            <a style="color: white"> 2017 | MyConcert by X-Fest | Todos los derechos reservados.</a>
        </div>
    </footer>

</body>
</html>