<!DOCTYPE html>
<html lang="en" ng-app="mainModule">
<head>
    <meta charset="UTF-8">
    <title>MyConcert by X-Fest</title>

    <script src="assets/js/libs/angular.min.js"></script>
    <script src="assets/js/libs/angular-spotify.js"></script>
    <script src="assets/js/interface.js"></script>
    <script src="assets/js/libs/loading-bar.js"></script>
    <script src="assets/js/libs/slides.js"></script>
    <script src="assets/js/libs/angular-notify.js"></script>
    <script src="assets/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="assets/js/libs/angular-cookies.js"></script>

    <link href='assets/styles/loading-bar.css' rel='stylesheet' />
    <link rel="stylesheet" href="assets/styles/basicStyles.css" />
    <link rel="stylesheet" href="assets/styles/slides.css" />
    <link rel="stylesheet" href="assets/styles/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/styles/angular-notify-texture.min.css" />

</head>
<body class="bodyall" ng-controller="mainController">
    <div class="header">
        <h1>MyConcert</h1>

    </div>

    <div class="bodycont">
        <div notifybar style="position:absolute;top:0;right:0"></div>

        <div class="bodycont_left">
            <div class="slideshow-container">
                <div class="mySlides">
                    <div class="numbertext">1 / 4</div>
                    <img src="assets/imgs/c1.jpg" style="width: 600px; height:400px">
                    <div class="text">SpeedSound Festival 2016</div>
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 4</div>
                    <img src="assets/imgs/c2.jpg" style="width: 600px; height:400px">
                    <div class="text">Life in Color 2016</div>
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 4</div>
                    <img src="assets/imgs/c3.jpg" style="width: 600px; height:400px">
                    <div class="text">Festival Imperial 2012</div>
                </div>
                <div class="mySlides">
                    <div class="numbertext">4 / 4</div>
                    <img src="assets/imgs/c4.jpg" style="width: 600px; height:400px">
                    <div class="text">Madness Fest 2015</div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>

        </div>
        <div class="bodycont_left_inner">
            <h2>Mi festival, Mis Artistas</h2>
            <p>
                <h3>Porque votar por tus artistas favoritos,<br>
                    y así formar festivales a tu manera, nunca<br>
                    antes había sido tan fácil.</h3>
            </p>
        </div>
        <div class="bodycont_right">
            <img src="assets/imgs/logo.png" style="width: 100px; height:100px">
            <h4 style="margin-top: 8px; margin-bottom: 8px">Usuario</h4>
            <input class="pInput" type="text" ng-model="data.Username">
            <h4 style="margin-top: 8px; margin-bottom: 8px">Contraseña</h4>
            <input class="pInput" type="password" style="margin-bottom: 10px" ng-model="data.Password">
            <a ng-click="login()" class="box-cartelera-button">Ingresar</a>
            <a class="helpLetter" href="newpassword.html">¿Olvidaste tu contraseña?</a>
            <a class="helpLetter" href="fanatico/register.html">Registrarse</a>
        </div>
    </div>

    <footer>
        <div class="footer">
            <a class="socialicon-fb" href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
            <a class="socialicon-tw" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a class="socialicon-yt" href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
            <a class="socialicon-sp" href="#"><i class="fa fa-spotify fa-2x"></i></a><br>
            <a style="color: white"> 2017 | MyConcert by X-Fest | Todos los derechos reservados.</a>
        </div>
    </footer>

</body>
</html>