<!DOCTYPE html>
<html lang="en" ng-app="mainModule">
<head>
    <meta charset="UTF-8">
    <title>Prueba</title>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-spotify.js"></script>
    <script src="js/interface.js"></script>
    <script src="js/loading-bar.js"></script>

    <link href='styles/loading-bar.css' rel='stylesheet' />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/font-awesome.min.css" />

</head>
<body ng-controller="mainController">
    <div>
        <div>
            <input type="text" placeholder="Nombre..." ng-model="artist_name" ng-maxlength="140">
            <button ng-click="searchArtist()">Buscar Artista</button>
        </div>
    </div>

    <div class="container">
        <div class="one">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Artista</th>
                    <th>ID</th>
                    <th>Buscar</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="artist in artists">
                        <!-- <i class="fa fa-camera-retro fa-5x"></i> -->
                        <td>{{artist.name}}</td>
                        <td>{{artist.id}}</td>
                        <td>
                            <button ng-click="getArtistInformation(artist.id)">
                                Buscar Información
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="two">
            <h3><u>Información del Artista</u></h3>
            <h4>Nombre: {{currentArtist.name}}</h4>
            <h4>Popularidad: {{currentArtist.popularity}}</h4>
            <h4>Seguidores: {{currentArtist.followers}}</h4>
            <image class="artist_IMG" ng-src={{currentArtist.image}}></image>
        </div>
    </div>


</body>
</html>